@import url("https://unpkg.com/normalize.css");

:root {
    --color-primary: #435334;
    --color-accent: #9EB384;
    --color-lightAccent: #CEDEBD;
    --color-bg: #FAF1E4;
    --color-invicible: rgb(0,0,0,0);
    font-size: 20px;
}

body {
    background-color: var(--color-bg);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
    padding: 0 15%;
    background-color: var(--color-primary);
    color: var(--color-lightAccent);
}

#navbar > * {
    margin: 0;
}

#navbar > .container {
    display: flex;
    align-items: center;
}

#navbar > .container > h1 {
    margin: 10px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent);
    color: var(--color-bg);
}

#footer > .container {
    display: flex;
    padding: 0.5rem;
}

#footer > .container > h5 {
    margin: 0;
    margin-left: 10px;
}

#main {
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebar {
    background-color: var(--color-lightAccent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

#sidebar > #project-list {
    display: flex;
    flex-direction: column;
}

#sidebar > #project-list > .group {
    margin: 0.5rem 0;
    color: var(--color-primary);
}

#sidebar > #project-list > button {
    background-color: var(--color-invicible);
    border: none;
    color: var(--color-primary);
    cursor: pointer;
    border-bottom: 2px solid var(--color-invicible);
    transition: border 500ms ease;
    text-align: start;
}

#sidebar > #project-list > button:hover {
    border-bottom: 2px solid var(--color-primary);
}

#sidebar > #project-list > button.active {
    font-weight: bold;
}

#project-form {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

#project-form > .content {
    background-color: var(--color-bg);
    margin: 15% auto;
    padding: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

#project-form > .content > form{
   display: flex;
   flex-direction: column;
   align-items: center;
}

#project-form > .content > form > label{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#project-form > .content > form > #title{
    margin-bottom: 1rem;
}

#project-form > .content > form > #title:focus{
   outline: 1px solid var(--color-primary);
}

#project-form > .content > form > .group > button {
    margin-left: 5px;
}

#project-form > .content > form > .group  > button {
    background-color: var(--color-primary);
    border: none;
    color: var(--color-bg);
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#project-form > .content > form > .group  > button.close {
    background-color: var(--color-accent);
}

#project-form > .content > form >.group > button:hover {
    filter: brightness(0.8);
}

#container {
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(75px, 1fr));
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
}

#container > .todo {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0 1rem;
    background-color: var(--color-accent);
    border-radius: 5px;
}