@import url("https://unpkg.com/normalize.css");

:root {
    --color-primary: #435334;
    --color-accent: #9EB384;
    --color-lightAccent: #CEDEBD;
    --color-bg: #FAF1E4;
}

body {
    background-color: var(--color-bg);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

nav {
    padding: 0 15%;
    background-color: var(--color-primary);
    color: var(--color-lightAccent);
}

#navbar > div {
    display: flex;
    align-items: center;
}

#navbar > div > .icon {
    margin-left: 10px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent);
    color: var(--color-bg);
}

#footer > .github {
    display: flex;
    padding: 1rem;
}

#footer > .github > h5 {
    margin: 0;
    margin-left: 10px;
}

#content {
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebar{
    background-color: var(--color-lightAccent);
}